h3 { color: coral }

.mobil { color: blueviolet; } 
/* ini untuk class */
#avanza { color: #00ff00; }

a[href] {
    color: rgb(0, 0, 255);
}

p {
    font-family: monospace;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.konten {
    background-color: pink;
    /* width: 100px; */
    /* width: 100vw; */
    /* height: 50vh; */
    /* padding: 10px; */
}

.isi {
    background-color: cadetblue;
    padding: 10px;
    margin: 10px;
    border: 1px dashed black;
}

.tombol {
    background-color: lightblue;
    border-radius: 5px;
    width: 100px;
}

.tombol:hover {
    background-color: cyan;
    border-radius: 15px;
    cursor: pointer;
}

li:nth-child(odd) {
    color: greenyellow;
}

li:nth-last-child(1) {
    color: red;
}
 